{% extends 'base.html' %}
{% block content %}
<div id="app">
    <div id="container">
      <div class="main">
        <div class="canvases">
          <canvas id="previewCanvas"></canvas>
          <canvas id="mainCanvas" @click="downloadCanvasImage"></canvas>
        </div>

        <div class="detail" v-if="loading === false">
          <div class="labels">
            <div v-for="(pred, index) in predictions">
              <p class="label-name" :class="index === 0 ? 'first' : ''">[[ pred[0] ]]: [[ pred[1] ]]%</p>
            </div>
          </div>
          <div class="meta">
            <input type="file" @change="onFileChange" />
          </div>
        </div>

        <div class="loading" v-else>
          <p>読み込み中...</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}